body {
  margin: 0;
  font-family: calibri;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: calibri;
}
.bgcolor
{
  background-color: rgb(52, 162, 252);
  color:#fff;
}
